/* Colors */
/* Fonts */
/* Media query breakpoints */
/* Mixin to manage responsive breakpoints */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.h {
  color: #070439;
}

.h--xlg {
  font-size: 1.57rem;
  line-height: 1.4;
}

@media (min-width: 769px) {
  .h--xlg {
    font-size: 1.8rem;
  }
}

@media (min-width: 1025px) {
  .h--xlg {
    font-size: 2.5rem;
  }
}

.h--lg {
  font-size: 1.02rem;
  line-height: 1.4;
}

@media (min-width: 769px) {
  .h--lg {
    font-size: 1.4rem;
  }
}

@media (min-width: 1025px) {
  .h--lg {
    font-size: 2.5rem;
  }
}

.text {
  color: #070439;
}

.text--big {
  font-size: 0.88rem;
  line-height: 1.5;
}

@media (min-width: 1025px) {
  .text--big {
    font-size: 1.13rem;
    line-height: 1.4;
  }
}

.text--md {
  font-size: 0.89rem;
  line-height: 1.5;
}

@media (min-width: 1025px) {
  .text--md {
    font-size: 1.13rem;
    line-height: 1.4;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url("../../assets/fonts/icomoon.eot?e1cg9q");
  src: url("../../assets/fonts/icomoon.eot?e1cg9q#iefix") format("embedded-opentype"), url("../../assets/fonts/icomoon.ttf?e1cg9q") format("truetype"), url("../../assets/fonts/icomoon.woff?e1cg9q") format("woff"), url("../../assets/fonts/icomoon.svg?e1cg9q#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-arrow-right:before {
  content: "\e903";
}

.i-icon-quotes:before {
  content: "\e906";
}

.i-icon-email:before {
  content: "\e904";
  color: #fff;
}

.i-icon-phone:before {
  content: "\e905";
  color: #fff;
}

.i-instagram:before {
  content: "\e900";
}

.i-twitter:before {
  content: "\e901";
}

.i-facebook:before {
  content: "\e902";
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cta {
  border: none;
  border-radius: 3px;
  color: white;
  background: #3065f8;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}

.cta--md {
  height: 40px;
  font-size: 0.9rem;
  font-weight: 700;
}

@media (min-width: 1025px) {
  .cta--md {
    height: 45px;
    max-width: 199px;
    width: 100%;
  }
}

.header {
  margin-bottom: 67px;
}

@media (min-width: 1025px) {
  .header {
    margin-bottom: 20px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 25px;
}

@media (min-width: 1025px) {
  .header__container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 66px 30px;
  }
}

.header__logo img {
  display: block;
  width: 78px;
}

@media (min-width: 481px) {
  .header__logo img {
    width: 100px;
  }
}

@media (min-width: 769px) {
  .header__logo img {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  .header__logo img {
    width: 100%;
  }
}

.header__list {
  display: flex;
  list-style: none;
}

.header__item:not(:last-child) {
  margin-right: 21px;
}

@media (min-width: 1025px) {
  .header__item:not(:last-child) {
    margin-right: 57px;
  }
}

.header__link {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 0.79rem;
  text-decoration: none;
  color: #070439;
}

@media (min-width: 481px) {
  .header__link {
    font-size: 0.85rem;
  }
}

@media (min-width: 769px) {
  .header__link {
    font-size: 1.01rem;
  }
  .header__link::before, .header__link::after {
    position: absolute;
    content: '';
    top: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #070439;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 350ms ease-in;
  }
  .header__link::after {
    top: unset;
    left: unset;
    bottom: -5px;
    right: 0;
    transform-origin: right;
  }
  .header__link:hover::before, .header__link:hover::after {
    transform: scaleX(1);
    transform-origin: right;
  }
  .header__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.kv {
  margin-bottom: 160px;
}

.kv__container {
  padding: 0 30px;
}

@media (min-width: 769px) {
  .kv__container {
    display: flex;
  }
}

@media (min-width: 1025px) {
  .kv__container {
    max-width: 1337px;
    margin: 0 auto;
  }
}

.kv__content {
  display: flex;
  flex-flow: column;
}

@media (min-width: 769px) {
  .kv__content {
    flex: 1;
  }
}

@media (min-width: 1025px) {
  .kv__content {
    align-self: center;
    margin-top: -25px;
  }
}

.kv__hero {
  margin-bottom: 36px;
  text-align: center;
}

@media (min-width: 769px) {
  .kv__hero {
    flex: 1;
    order: 2;
    align-self: center;
    margin-bottom: 0;
  }
}

.kv__hero img {
  width: 100%;
}

@media (min-width: 481px) {
  .kv__hero img {
    max-width: 550px;
  }
}

@media (min-width: 769px) {
  .kv__hero img {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  .kv__hero img {
    width: 100%;
    max-width: unset;
  }
}

.kv__heading {
  margin-bottom: 26px;
  text-align: center;
}

@media (min-width: 481px) {
  .kv__heading {
    max-width: 441px;
    margin: 0 auto 26px auto;
  }
}

@media (min-width: 769px) {
  .kv__heading {
    margin: 0 0 26px 0;
    text-align: left;
  }
}

@media (min-width: 1025px) {
  .kv__heading {
    margin: 0 0 17px 0;
    max-width: 600px;
  }
}

.kv__text {
  margin-bottom: 32px;
  text-align: center;
}

@media (min-width: 481px) {
  .kv__text {
    max-width: 441px;
    margin: 0 auto 32px auto;
  }
}

@media (min-width: 769px) {
  .kv__text {
    text-align: left;
    margin: 0 0 32px 0;
  }
}

@media (min-width: 1025px) {
  .kv__text {
    max-width: 580px;
    margin: 0 0 23px 0;
  }
}

.kv__form {
  display: flex;
  flex-flow: column;
  padding: 0 6px;
}

@media (min-width: 481px) {
  .kv__form {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }
}

@media (min-width: 769px) {
  .kv__form {
    padding: 0;
    margin: 0;
    max-width: unset;
  }
}

@media (min-width: 1025px) {
  .kv__form {
    flex-flow: row;
  }
}

.kv__input {
  height: 40px;
  margin-bottom: 16px;
  border: 1px solid #070439;
  border-radius: 3px;
  padding-left: 20px;
}

@media (min-width: 1025px) {
  .kv__input {
    height: 45px;
    width: 318px;
    margin-right: 16px;
  }
}

.kv__input::placeholder {
  color: #bfbfbf;
  font-size: 0.8rem;
}

.about {
  position: relative;
  background: #F8F8FE;
  padding-bottom: 81px;
}

.about::before {
  position: absolute;
  content: '';
  top: -69px;
  left: 0;
  width: 100vw;
  height: 69px;
  background: url("../../assets/img/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.about__container {
  padding: 0 21px;
}

.about__hero {
  margin-bottom: 99px;
}

.about__hero img {
  width: 100%;
}

.about__content {
  display: flex;
  flex-flow: column;
}

.about__heading {
  text-align: center;
  margin-bottom: 21px;
}

.about__text {
  color: #585989;
}

.about__text:not(:last-of-type) {
  margin-bottom: 16px;
}

.about__text:last-of-type {
  margin-bottom: 35px;
}

.about__link {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-decoration: none;
  font-size: 0.8rem;
  color: #3c9f8f;
  margin-bottom: 40px;
  padding-bottom: 5px;
  border-bottom: 1px solid #3c9f8f;
}

.about__arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background: #3c9f8f;
  color: #fff;
  font-size: 0.4rem;
  border-radius: 50%;
}

.about__ref {
  background: #fff;
  margin: 0 26px;
  border-radius: 6px;
  padding: 40px 15px 22px 25px;
}

.about__ref-text {
  position: relative;
  font-size: 0.68rem;
  line-height: 1.7;
  margin-bottom: 11px;
}

.about__ref-text::before {
  position: absolute;
  content: url(../../assets/img/icon-quotes.svg);
  top: -20px;
}

.about__ref-author {
  display: flex;
}

.about__ref-author img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 8px;
}

.about__ref-description {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.about__ref-name {
  font-size: 0.65rem;
}

.about__ref-position {
  font-size: 0.45rem;
}
/*# sourceMappingURL=main.css.map */