.about {
    $root: &;
    position: relative;
    background: $c-blue-grayish-light;

    &::before {
        position: absolute;
        content: '';
        top: -69px;
        left: 0;
        width: 100vw;
        height: 69px;
        background: url('../../assets/img/bg-curve-mobile.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }

    &__container {
        padding: 0 21px;
    }

    &__hero {
        margin-bottom: 99px;
        
        img {
            width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-flow: column;
    }

    &__heading {
        text-align: center;
        margin-bottom: 21px;
    }

    &__text {
        color: $c-blue-desaturated;

        &:not(:last-of-type) {
            margin-bottom: 16px;
        }

        &:last-of-type {
            margin-bottom: 35px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-decoration: none;
        font-size: 0.8rem;
        color: $c-cyan-moderate;
        padding-bottom: 5px;
        border-bottom: 1px solid $c-cyan-moderate;
    }
}