.cta {
    border: none;
    border-radius: 3px;
    color: white;
    background: $c-blue-bright;
    font-size: 1rem;
    font-family: $ff-secondary;

    &--md {
        height: 40px;
        font-size: 0.9rem;
        font-weight: 700;

        @include breakpoint('lg') {
            height: 45px;
            max-width: 199px;
            width: 100%;
        }
    }

    &--big {
        height: 35px;
        width: 100%;
        font-size: 0.67rem;
        font-weight: 700;

        @include breakpoint('md') {
            height: 40px;
            max-width: 200px;
            width: 100%;
        }

        @include breakpoint('lg') {
            height: 49px;
            font-size: 0.9rem;
        }
    }
}